
export("deriv<-")
export("deriv")
export("hessian")
export("hessian<-")
export("vector.to.autograd")
export("+.autograd")
export("-.autograd")
export("*.autograd")
export("/.autograd")
export("sqrt.autograd")
export("exp.autograd")
export("log.autograd")
export("sin.autograd")
export("cos.autograd")
export("tan.autograd")
export("sinh.autograd")
export("cosh.autograd")
export("tanh.autograd")
export("%*%")
export("%*%.default")
export("%*%.autograd")
export("solve.autograd")
export("t.autograd")
export("sum.autograd")
export("mean.autograd")
export("determinant.autograd")
export("rep.autograd")
export("print.autograd")
export("print.deriv")
export("[.autograd")
