
export("deriv<-")
export("deriv")
export("hessian")
export("hessian<-")
export("vector.to.autograd")
S3method("+", autograd)
S3method("-", autograd)
S3method("*", autograd)
S3method("/", autograd)
S3method(sqrt, autograd)
S3method(exp, autograd)
S3method(log, autograd)
S3method(sin, autograd)
S3method(cos, autograd)
S3method(tan, autograd)
S3method(sinh, autograd)
S3method(cosh, autograd)
S3method(tanh, autograd)
export("%*%")
export("%*%.default")
export("%*%.autograd")
export("solve.autograd")
S3method(t, autograd)
S3method(sum, autograd)
S3method(mean, autograd)
export("determinant.autograd")
S3method(rep, autograd)
S3method(print, autograd)
export("print.deriv")
export("[.autograd")
